body ,html {
	margin: 0;
	font-family: fjalla;
	font-size: 10px;
	background: #e4e4e4;	
}
p {
	padding: 0;
	margin: 0;
}
h1 ,h2 ,h3 {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
i {
	font-family: FontAwesome;
	font-style: normal;
}
input {
	.buts(#7c878b, 5px ,36px ,2rem);
	width: 220px;
	border: none;
	background: #364045;
	padding: 0;
	text-align: left;
	padding: 0 40px;
	box-sizing: border-box;
}
.wrapper {
	margin: 0 auto;
	text-align: center;
	width: 1230px;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.main-wrap {
	.wrapper;
	border-radius: 5px;
	background: #fff;
	margin-top: 55px;
}
