.banner {
	position: relative;
	background: url("../img/banner-bg.jpg") no-repeat;
	width: 1230px;
	height: 490px;
	&__left {
		display: block;
		position: absolute;
		width: 35px;
		height: 35px;
		left: 30px;
		top: 50%;
		background: url("../img/left.png") no-repeat;
		transition: all 0.15s ease-in;
		&:hover {
			opacity: .5;
			transition: all 0.15s ease-in;
		}
	}
	&__right {
		display: block;
		position: absolute;
		width: 35px;
		height: 35px;
		top: 50%;
		right: 30px;
		background: url("../img/right.png") no-repeat;
		transition: all 0.15s ease-in;
		&:hover {
			opacity: .2;
			transition: all 0.15s ease-in;
		}
	}
}
